<!DOCTYPE html>


<html>

    <head>
        <meta charset="utf-8">
        <title>
            ountDowns
        </title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
        </script>


    </head>

    <body>
        <div class="col m-3 d-flex flex-wrap " style=" width:100%; height:auto">

            {% if error %}
            <div class="card-title overflow-hidden w-100  ">
                <h1 class="card overflow-hidden "> {{ error }} </h1>
            </div>
            {% endif %}

            {% for channel in channels %}
            <div class="card d-flex flex-col justify-content-between m-3 p-3" style="width:500px;  height:150px">

                <div class="card-body d-flex flex-column  text-center ">
                    <div class=" overflow-hidden ">
                        <div class="card-title overflow-hidden  ">
                            <h1 class="card-title overflow-hidden "> {{ channel.title }} </h1>
                        </div>

                    </div>
                </div>

                <div class="card m-3 p-3 ">
                    <div class="card-body">

                        <form method="POST">
                            {% csrf_token %}
                            <div class="d-flex flex-column">
                                <div>
                                    <h4> what is going to happen? </h4>
                                    {{ countdown_form.c_happening }}
                                </div>

                                <div>
                                    <h4>When ?</h4>
                                    {{ countdown_form.c_start }}
                                </div>


                                <input type="hidden" name="c_status" value="upcoming">
                                <input type="hidden" name="channel" value="{{ channel }}">

                            </div>
                            <button type="submit" class="btn btn-primary m-3 p-3">
                                create Countdown
                            </button>
                        </form>
                    </div>
                </div>






                <div class="col-md-6 m-3 ">
                    {% for countdown  in  channel.related_countdowns.all %}
                        {% if countdown.c_status != "deleting" %}
                            {% if countdown.c_status != "deleted" %}

                                <div class="card d-flex flex-column text-center m-3" style="height: 150px; width:300px; ">
                                    <div class="card-title d-flex flex-row justify-content-between overflow-hidden">
                                        <h2 class=" overflow-hidden">{{countdown.c_happening}}</h2>
                                        <form action="{% url 'delete_countdown' pk=countdown.id %}">
                                            <button type="submit" class="btn btn-danger">X</button>
                                        </form>

                                    </div>
                                    <div class="card d-flex flex-column m-1">
                                        <div>{{countdown.c_status}}</div>
                                    </div>
                                    <div class="card d-flex flex-column m-1">
                                        <div>Start: {{countdown.c_start}}</div>
                                        <div>Channel: {{countdown.channel}}</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </div>

            </div>
            {% endfor %}
        </div>
    </body>
</html>